@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
     Layout = "_Layout";
    ViewBag.Title = "Diagnostiquer";
}
@model Tp2_Server.Models.Patient

<div class="container">
    <form method="post">
    <select asp-for="PatientId" class="form-select mb-3 me-5 mt-3 col" aria-label="Default select example">
            @foreach(var patient in ViewBag.Patients)
            {
                <option value="@patient.PatientId">@patient.Nom  @patient.Prenom</option>
            }
        </select>
    


    <button type="submit" class="btn btn-primary">Test</button>
    </form>
    <a class="btn btn-primary" href="~/Home/AjoutPatient">Ajouter un patient</a>
</div>