@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.Title = "Modifier Information";
}
@model Tp2_Server.Models.Medecin

<div class="d-inline">

    <form method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="d-flex flex-row">
            <div class="form-floating me-3 mb-3 mt-3 col">
                <input type="text" class="form-control" asp-for="Nom" placeholder="Enter password confirmation">
                <label asp-for="Nom"></label>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-floating  mb-3 mt-3 col">
                <input type="text" class="form-control" asp-for="Prenom" placeholder="Enter password confirmation">
                <label asp-for="Prenom"></label>
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input asp-for="Date" class="form-control">
            <label asp-for="Date"></label>
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="d-flex flex-row">
            <select asp-for="Ville" class="form-select mb-3 me-5 mt-3 col" aria-label="Default select example">
                <option selected value="">Ville</option>
                <option value="Casablanca">Casablanca</option>
                <option value="Rabat">Rabat</option>
                <option value="Berrechid">Berrechid</option>
                <option value="Sefrou">Sefrou</option>
                <option value="Tanger">Tanger</option>
                <option value="Fez">Fez</option>
                <option value="Rimouski">Rimouski</option>
                <option value="Marrakech">Marrakech</option>
            </select>
            <div class="ms-5 mb-3 mt-3 col">
                <div class="form-check form-check-inline">
                    <label class="form-check-label" asp-for="Genre">Male</label>
                    <input class="form-check-input" asp-for="Genre" type="radio" value="Male" />
                </div>
                <div class="form-check form-check-inline mt-2">
                    <label class="form-check-label" asp-for="Genre">Female</label>
                    <input class="form-check-input" asp-for="Genre" type="radio" value="Female" />
                </div>
            </div>
        </div>
        <div class="form-floating mb-3 mt-3">
            <input type="date" class="form-control" asp-for="Date_Entree" placeholder="Enter password confirmation">
            <label asp-for="Date_Entree"></label>
            <span asp-validation-for="Date_Entree" class="text-danger"></span>
        </div>


        <button type="submit" class="btn btn-primary">Register</button>
        <a class="btn btn-primary" href="~/Home/Information">Cancel</a>


    </form>


</div>
